@import '../../vars';

.current-goal {
    width: 90%;
    margin: 5px auto -40px auto;
    height: 200px;
    background-color: $main-red;
    border-radius: 4px;
    color: white;
    cursor: pointer;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 70px 40px 12px;
    grid-template-areas: 
        "l l l l l l i i i i i i"
        "n n n n n n i i i i i i"
        "p p p p p p i i i i i i"
        "b b b b b b b b b b b b";
    overflow: hidden;

    .current-goal {
        font-size: 1.2em;
        font-weight: 400;
        padding: 15px;
        grid-area: l;
        z-index: 10;
    }
        
    .name {
        font-size: 1.5em;
        font-weight: 700;
        padding: 15px;
        grid-area: n;
        display: flex;
        align-items: center;
        z-index: 10;
    }

    .progress {
        font-size: 1.1em;
        font-weight: 600;
        padding: 15px;
        grid-area: p;
        z-index: 10;
    }

    .image {
        grid-area: i;
        height: 200px;
        width: auto;
        margin-left: -270px;
        z-index: 0;
    }

    .progress-bar {
        grid-area: b;
        z-index: 20;
        width: 90vw;
        margin-top: 28px;
        height: 20px;
        background-color: #d8d8d8;
        
        .bar {
            height: 100%;
            width: 30%;
            background-color: black;
        }
    }
}

.future_goals {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    .goal {
        border-radius: 4px;
        width: 160px;
        height: 160px;
        background-color: #555;
        overflow: hidden;

        .name {
            padding: 10px;
            width: 120px;
            position: absolute;
            color: white;
            font-weight: 700;
        }

        .image {
            position: relative;
            z-index: 0;
            width: 100%;
            height: auto;
        }

        .progress-bar {
            position: relative;
            z-index: 20;
            width: 100%;
            margin-top: -25px;
            height: 20px;
            background-color: #d8d8d8;
            
            .bar {
                display: flex;
                align-items: center;
                color: white;
                height: 100%;
                width: 30%;
                background-color: black;
            }
        }
    }
}